body{
   
    background-image: url("./shara desert.jpg");
    transition: 0.2s all linear;
    background-size: cover;
    
}
body:active{
    transform: translateY(-50px);
}
.sahara{
    font-size: 100px;
    color: white;
    position: relative;
    top: 300px;
    left: 100px;
    font-weight: 600;
}
.text{
    font-size: 16px;
    color: white;
    position: relative;
    top: 320px;
    left: 110px;
}
.explore{
    background-color: white;
    border: 1px solid white;
    border-radius: 15px;
    color: black;
    text-align: center;
    width: 140px;
    height: 20px;
    padding: 10px;
    position: relative;
    left: 160px;
    top: 350px;
}
.logo{
    position: relative;
    bottom: 160px;
    left: 150px;
    width: 80px;
}
.nav{
    display: flex;
    border: 2px solid transparent;
    position: absolute;
    top: 20px;
    left: 900px;
    width: 450px;
    height: 100px;
    color: white;
    padding: 5px;
    justify-content: space-around;
}
a{
    text-decoration: none;
    color: white;
}
.menu{
    background-color: transparent;
    border: 1px solid;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding: 2px;
    text-align: center;
    font-size: 30px;
    margin-top: 0px;
}
.pic-1{
    background-image: url('./pic-1.png');
    width: 200px;
    height: 200px;
    border-radius: 15px;
    position: absolute;
    top: 110px;
    left: 750px;
    padding: 20px;
    color: white;
    background-size: cover;
    transition: 0.2s linear;
    font-size: 20px; 
    font-weight: bold;
}

.pic-2{
    background-image: url('./pic-2.png');
    width: 200px;
    height: 200px;
    border-radius: 15px;
    position: absolute;
    top: 110px;
    left: 1100px;
    padding: 20px;
    color: white;
    background-size: cover;
    transition: 0.2s linear;
    font-size: 20px; 
    font-weight: bold;
}

.pic-3{
    background-image: url('./pic-3.png');
    width: 200px;
    height: 200px;
    border-radius: 15px;
    position: absolute;
    top: 420px;
    left: 750px;
    padding: 20px;
    color: white;
    background-size: cover;
    transition: 0.2s linear;
    font-size: 20px; 
    font-weight: bold;
}

.pic-4{
    background-image: url('./pic-4.png');
    width: 200px;
    height: 200px;
    border-radius: 15px;
    position: absolute;
    top: 420px;
    left: 1100px;
    padding: 20px;
    color: white;
    background-size: cover;
    transition: 0.2s linear;
    font-size: 20px; 
    font-weight: bold;
}




.pic-1:hover{
    
    transform: translateY(-10px);
}
.pic-2:hover{
    
    transform: translateY(-10px);
}
.pic-3:hover{
    
    transform: translateY(-10px);
}
.pic-4:hover{
    
    transform: translateY(-10px);
}
.menu:hover{
    background-color: rgb(205, 202, 202);
}

@media (max-width:1000px) {

    .logo{
        position: absolute;
        bottom:90%;
        width:5%;
        left: 20px;
    }
    .sahara{
        position: absolute;
        top: 10%;
        left: 2%;
        font-size: 130%;
    }
    .lorem1{
        position: absolute;
        top: 15%;
        left: 2%;
    }
    .explore{
        position: absolute;
        top: 25%;
        left: 2%;
    }

    .nav{
        display: flex;
        border: 2px solid transparent;
        position: absolute;
        top: 5%;
        left: 50%;
        width: 40%;
        height: 10%;
        color: white;
        padding: 5px;
        justify-content: space-evenly;
    }
    .pic-1{
        width: 50%;
        height: 50%;
        border-radius: 15px;
        position: absolute;
        top: 35%;
        left: 2%;
        padding: 20px;
        color: white;
        background-image: url('./pic-1.png');
        background-size: cover;
        transition: 0.2s linear;
    }
    .pic-2{
        width: 50%;
        height: 50%;
        border-radius: 15px;
        position: absolute;
        top: 100%;
        left: 2%;
        padding: 20px;
        color: white;
        background-image: url('./pic-2.png');
        background-size: cover;
        transition: 0.2s linear;
    }
    .pic-3{
        width: 50%;
        height: 50%;
        border-radius: 15px;
        position: absolute;
        top: 160%;
        left: 2%;
        padding: 20px;
        color: white;
        background-image: url('./pic-3.png');
        background-size: cover;
        transition: 0.2s linear;
    }
    .pic-4{
        width: 50%;
        height: 50%;
        border-radius: 15px;
        position: absolute;
        top: 220%;
        left: 2%;
        padding: 20px;
        color: white;
        background-image: url('./pic-4.png');
        background-size: cover;
        transition: 0.2s linear;
    }         
    .menu:hover{
        background-color: rgb(205, 202, 202);
    }

}